<form>
<div>
  <h4>Basic Details</h4>
  <table>
    <tr>
      <td>Institute category</td>
      <td><select></select></td>
     
      <tr>
       <td>Name</td>
       <td><input type="text"></td>
          </tr>
          <tr>
            <td>State</td>
            <td><select></select></td>
            <td>District</td>
            <td><select></select></td>
          </tr>
          <tr>
            <td>Institute Code</td>
            <td><input type="text"></td>
            <td>District Code</td>
            <td><input type="text"></td>
          </tr>
          <tr><td>Location</td>
           
          <td><input type="radio" > Rural</td>
          <td><input type="radio"> Urban</td>
          </tr>
          <tr>
            <td>Institute Type</td>
            <td><select></select></td>
            <td>Affliated University State</td>
            <td><select></select></td>
          </tr>
          <tr>
            <td>Affliated University/Board Name</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Year from which admission started</td>
            <td><select></select></td>

          </tr>
          <tr>
            <td>Set password</td>
            <td><input type="text"></td>
          </tr>
          <tr>
            <td>Confirm password</td>
            <td><input type="text"></td>
          </tr>
  </table>
  <h4>Address:</h4>
  <table>
<tr>
  <td>Line1</td>
  <td><input type="text"></td>
  <td>Line2</td>
  <td><input type="text"></td>
</tr>




  </table>
</div>
</form>
